<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8">
    <title>Gestión de Carros</title>
    <link rel="stylesheet" th:href="@{/css/estilo.css}">
</head>
<body>
    <header th:fragment="header">
        <nav>
            <div>
                <ul>
                    <li><a th:href="@{/}">Inicio</a></li>
                    <li><a th:href="@{/vistas/carros/}">Listado de Carros</a></li>
                    <li><a th:href="@{/vistas/carros/create}">Registro de Carros</a></li>
                </ul>
            </div>
        </nav>
    </header>
    
    <!--  CONTENIDO -->
    <article th:fragment="article">
        <div>
            
        </div>
    </article>
    
    
    <footer th:fragment="footer">
        <div>
            <p>Todos los derechos reservados &copy; 2024</p>
        </div>
        
    </footer>
</body>
</html>
